/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port

/resources/public/js/*
!/resources/public/js/jquery
!/resources/public/js/bootstrap

/resources/public/css/*
!/resources/public/css/bootstrap

/out
/.repl

*~
*.swp

